body{
    background-color:brown;
}

h1 {
    color:white;
    transition: color 0.5s ease-in-out;
}

.button{
    cursor: pointer
}

.clicked {
    color:#7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}
/* how to access to an id in css: #title {} */ 